@import "tailwindcss";

@theme {
  --font-sans: "Inter Tight", system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #f9fafb;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
